@import './home';

footer {
    height: 300px;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -200px;

    @include media-query($medium-up) {
        margin-left: -80px;
        margin-right: -80px;
    }

    ul {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        text-align: center;
    }

    li {
        z-index: 4;
        position: relative;
        font-size: 10px;
        color: $lightblue;
        font-weight: $font-weight-light;

        @include media-query($medium-up) {
            font-size: 14px;
        }
    }
}


.footer__wrapper {
    width: 100%;
    height: 200px;
    color:#fff;
    text-decoration:none;
    padding:25px 60px;
    font-size:22px;
    line-height:40px;
    position:absolute;
    bottom: -200px;
    left:50%;
    transform:translate(-50%,-50%);
    overflow:hidden;
    transition: all 1s;

    &:before{
        content:"";
        z-index: 2;
        position:absolute;
        width:2000px;
        height:2000px;
        border-radius:600px;
        background-color: $blue;
        top:180px;
        left:50%;
        transform:translate(-50%);
        animation:wave 15s infinite linear;
        transition: all 1s;
    }
}

@keyframes wave{
    0%{
        transform:translate(-50%) rotate(0deg);
    }
    100%{
        transform:translate(-50%) rotate(360deg);
    }
}
  