@import './home';

header {
    position: relative;
    margin-left: -80px;
    margin-right: -80px;
    height: 100px;
    background-color: $blue;

    img {
        position: absolute;
        width: 60px;
        top: 20px;
        left:20px;
    }

    ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-query($small) {
            padding-left: 40px;
         }

        @include media-query($medium-down) {
            justify-content: center;
         }

        @include media-query($large-up) {
            width: 400px;
            margin-left: 150px;
        }
    }

    a {
        font-size: 16px;
        color: $white;
        font-weight: $font-weight-semibold;
        transition: color 0.2s;

        &:hover {
            color: $lightblue;
        }

        @include media-query($medium-down) {
           padding-left: 50px;
        }

        @include media-query($small) {
            font-size: 14px;
            padding-left: 20px;
         }
    }
}