@import './home';

header {
    position: relative;
    margin-left: -80px;
    margin-right: -80px;
    height: 100px;
    background-color: $blue;

    img {
        position: absolute;
        width: 60px;
        top: 20px;
        left:20px;
    }

    ul {
        height: 100%;
        width: 400px;
        margin-left: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: $white;
        font-weight: $font-weight-semibold;
        transition: color 0.2s;

        &:hover {
            color: $lightblue;
        }
    }
}