@import '../helpers/variables';
@import '../helpers/reset';
@import '../helpers/fonts';
@import '../helpers/button';

body {
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    font-family: $font-family;
    color: $blue;
}