@import './home';

.home__quiz {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    height: 400px;
    margin-left: -80px;
    margin-right: -80px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: $lightblue;
}

.home__card {
    text-align: center;
    padding-top: 80px;
    
    h2 {
        padding-top: 50px;
        font-size: 20px;
        font-weight: $font-weight-light;
        color: $blue;
    }
}

.home__card-image {
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: $white;
    border-radius: 200px;

    img {
        width: 80px;
        padding-top: 65px;
    }
}
